<template>
  <base-modal :title="'Add / Edit'">
    <b-form @submit.stop.prevent="submitHandler" novalidate class="user-form">
      <ul>
        <li>
          <label for="name">Name</label>
          <b-input
            v-model.lazy="$v.user.name.$model"
            v-bind="nameValidationState"
            @blur.native="blurHandler($v.user.name, 'name')"
            type="text"
            id="name"
          />
          <b-form-invalid-feedback v-bind="nameValidationState"
            >Required (max length of 30)</b-form-invalid-feedback
          >
        </li>
        <li>
          <label for="family">Family</label>
          <b-input
            v-model.lazy="$v.user.family.$model"
            v-bind="familyValidationState"
            @blur.native="blurHandler($v.user.family, 'family')"
            type="text"
            id="family"
          />
          <b-form-invalid-feedback v-bind="familyValidationState"
            >Required (max length of 30)</b-form-invalid-feedback
          >
        </li>
        <li>
          <label for="dob">DoB</label>
          <!-- custom mask type -->
          <b-input
            v-model.lazy="$v.user.dob.$model"
            v-bind="dobValidationState"
            @blur.native="blurHandler($v.user.dob, 'dob')"
            v-mask="'##/##/####'"
            type="tel"
            placeholder="mm/dd/yyyy"
            id="dob"
            autocomplete="off"
          />
          <b-form-invalid-feedback v-bind="dobValidationState">
            Date must be valid and between
            {{ formatDateForDisplay(startDate) }} and
            {{ formatDateForDisplay(endDate) }} exclusively (mm/dd/yyyy)</b-form-invalid-feedback
          >
          <!-- browser date type: not supported in Safari, IE? -->
          <!-- <b-form-input
            type="date"
            v-model="$v.user.dob.$model"
            v-bind="dobValidationState"
            @blur.native="blurHandler($v.user.dob, 'dob')"
            id="dob"
          />
          <b-form-invalid-feedback v-bind="dobValidationState">
            Date must be valid and between
            {{ startDate ? startDate.toLocaleDateString() : null }} and
            {{ endDate.toLocaleDateString() }}</b-form-invalid-feedback
          > -->

          <!-- datepicker: required some styling to fit the modal -->
          <!-- <b-input-group>
            <b-form-input
              id="dob"
              v-model="$v.user.dob.$model"
              type="text"
              placeholder="Choose a date"
              autocomplete="off"
            />
            <b-input-group-append>
              <b-form-datepicker
                v-model="$v.user.dob.$model"
                button-only
                left
                locale="en"
                :date-format-options="{ month: 'numeric', day: 'numeric', year: 'numeric' }"
                aria-controls="dob"
              />
            </b-input-group-append>
          </b-input-group> -->
        </li>
        <li>
          <label for="numItems">#Items</label>
          <b-input v-model.lazy="user.numItems" type="number" id="numItems" />
        </li>
      </ul>
      <b-button
        :title="modifType === 'edit' ? 'update' : modifType"
        :disabled="$v.$invalid"
        type="submit"
        role="button"
        block
        variant="primary"
      >
        {{ modifType === 'edit' ? 'update' : modifType }}
      </b-button>
    </b-form>
  </base-modal>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import { required, minLength, maxLength } from 'vuelidate/lib/validators';
import { mask } from 'vue-the-mask';
import moment from 'moment';
import BaseModal from '../Base/BaseModal.vue';

export default {
  name: 'Modal',
  components: {
    BaseModal,
  },
  directives: {
    mask,
  },
  props: {
    users: {
      type: Array,
      required: true,
      default: () => [],
    },
    addUpdateUser: {
      type: Function,
      default: () => ({}),
    },
  },
  data() {
    return {
      user: {
        name: '',
        family: '',
        dob: '',
        numItems: 0,
      },
      nameValidationState: {},
      familyValidationState: {},
      dobValidationState: {},
      dateFormat: 'YYYY-MM-DD', // recommended format (RFC2822 or ISO format), else moment construction falls back to js Date(), which is not reliable across all browsers and versions
      dateFormatDisplay: 'MM-DD-YYYY',
      startDate: null,
      endDate: null,
    };
  },
  validations: {
    user: {
      name: {
        required,
        maxLength: maxLength(30),
      },
      family: {
        required,
        maxLength: maxLength(30),
      },
      dob: {
        required,
        minLength: minLength(10), // included forward slashes
        isDobValid(val) {
          if (val && val.length === 10) {
            return this.isDobValidBetweenDates(val);
          }

          return false;
        },
      },
    },
  },
  methods: {
    ...mapActions({
      closeModal: 'closeModal',
    }),
    formatDateForDisplay(val) {
      return moment(val)
        .format(this.dateFormatDisplay)
        .replace(/-/g, '/');
    },
    isDobValidBetweenDates(val) {
      // the date input value is in MM-DD-YYYY for visual/normal use format, contrary to the recommended format (RFC2822 or ISO) - see dateFormat in data object, thus the dateFormatDisplay is required here to have the right date entered
      const dob = moment(val.replace(/\//g, '-'), this.dateFormatDisplay);

      // valid dob only fromn 100 years ago and the current date exclusively
      return (
        dob.isValid() && moment(dob).isAfter(this.startDate) && moment(dob).isBefore(this.endDate)
      );
    },
    blurHandler($v, type) {
      if ($v.$dirty) {
        switch (type) {
          case 'name':
            this.nameValidationState = {
              state: !$v.$invalid,
            };
            break;
          case 'family':
            this.familyValidationState = {
              state: !$v.$invalid,
            };
            break;
          case 'dob':
            this.dobValidationState = {
              state: !$v.$invalid,
            };
            break;
          default:
        }
      }
    },
    submitHandler() {
      this.addUpdateUser(this.user);
      this.closeModal();
    },
  },
  watch: {
    modalIsOpen(isOpened) {
      if (isOpened) {
        this.nameValidationState = {};
        this.familyValidationState = {};
        this.dobValidationState = {};

        switch (this.modifType) {
          case 'add':
            this.user = {
              name: '',
              family: '',
              dob: '',
              numItems: 0,
            };
            break;
          case 'edit':
            this.user = Object.assign(this.user, this.users[this.editIndex]);
            break;
          default:
        }
      }
    },
  },
  computed: {
    ...mapGetters({
      modifType: 'modifType',
      editIndex: 'editIndex',
      modalIsOpen: 'modalIsOpen',
    }),
  },
  created() {
    // valid dob only from 100 years ago and the current date
    this.startDate = moment() // 100 years ago from current date
      .subtract(100, 'years')
      .format(this.dateFormat);

    this.endDate = moment().format(this.dateFormat); // current date
  },
  mounted() {
    // setting focus to name field when modal visible
    this.$root.$on('bv::modal::shown', () => {
      document.getElementById('name').focus();
    });
  },
};
</script>

<style lang="scss" scoped>
.user-form {
  > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    > li {
      margin-bottom: 1rem;
    }
  }
}
</style>
