<template>
  <div class="user-list">
    <div class="search mb-4">
      <label for="iSearch" class="invisible">Search: </label>
      <b-form-input
        type="search"
        v-model="searchStr"
        id="iSearch"
        placeholder="Search: name and/or family"
      />
    </div>
    <div class="users mb-4">
      <h6 class="row mb-3">
        <b-col xs="3">Name</b-col>
        <b-col xs="3">Family</b-col>
        <b-col xs="2">DoB</b-col>
        <b-col xs="2" class="text-right">#Items</b-col>
        <b-col xs="2" class="text-right">Actions</b-col>
      </h6>
      <ul>
        <li v-for="(user, index) in usersFiltered" :key="user + index" class="row">
          <b-col xs="3">{{ user.name }}</b-col>
          <b-col xs="3">{{ user.family }}</b-col>
          <b-col xs="2">{{ user.dob }}</b-col>
          <b-col xs="2" class="text-right">{{ user.numItems > 0 ? user.numItems : '--' }}</b-col>
          <b-col xs="2" class="actions text-right">
            <b-button
              variant=""
              size="sm"
              data-toggle="modal"
              data-target="#exampleModal"
              @click="openModal({ type: 'edit', index: index })"
            >
              <svg
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
                class="bi bi-pencil"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5L13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175l-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"
                />
              </svg>
            </b-button>
            <b-button variant="danger" size="sm" @click="deleteUser(index)">
              <svg
                width="1em"
                height="1em"
                viewBox="0 0 16 16"
                class="bi bi-x"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
                />
              </svg>
            </b-button>
          </b-col>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'UserList',
  props: {
    users: {
      type: Array,
      required: true,
      default: () => [],
    },
    deleteUser: {
      type: Function,
      default: () => ({}),
    },
    openModal: {
      type: Function,
      default: () => ({}),
    },
  },
  data() {
    return {
      searchStr: '',
    };
  },
  computed: {
    usersFiltered() {
      return this.users.filter((user) => {
        const fullname = user.name
          .concat(' ')
          .concat(user.family)
          .toLowerCase();
        return fullname.includes(this.searchStr.toLowerCase());
      });
    },
  },
  mounted() {
    // setting focus to search field at app loaded
    document.getElementById('iSearch').focus();
  },
};
</script>

<style lang="scss" scoped>
.users {
  > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    > li {
      margin-bottom: 0.5rem;
      &:hover {
        color: var(--info);
      }
      > .actions {
        > .btn {
          line-height: 1;
          padding: 0.25rem;
          margin-left: 0.1rem;
        }
      }
    }
  }
}
</style>
