<template>
  <div class="user-app">
    <user-list :users="users" :deleteUser="deleteUser" :openModal="openModal" />

    <b-button variant="primary" size="sm" @click="openModal({ type: 'add', index: null })">
      <svg
        width="1em"
        height="1em"
        viewBox="0 0 16 16"
        class="bi bi-plus"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
        />
      </svg>
      Add User
    </b-button>

    <user-form :users="users" :addUpdateUser="addUpdateUser" />
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';
import UserList from './UserList.vue';
import UserForm from './UserForm.vue';

export default {
  name: 'UserApp',
  components: {
    UserList,
    UserForm,
  },
  data() {
    return {
      users: [
        {
          name: 'Ali',
          family: 'Delshad',
          dob: '08/06/1969',
          numItems: 13,
        },
        {
          name: 'Hamid',
          family: 'Sadeghi',
          dob: '01/14/1981',
          numItems: 0,
        },
        {
          name: 'Amir',
          family: 'Olfat',
          dob: '04/29/2019',
          numItems: 4,
        },
        {
          name: 'Keyvan',
          family: 'Masr',
          dob: '12/31/1945',
          numItems: 120,
        },
      ],
    };
  },
  computed: {
    ...mapGetters({
      modalIsOpen: 'modalIsOpen',
      modifType: 'modifType',
      editIndex: 'editIndex',
    }),
  },
  methods: {
    ...mapActions({
      openModal: 'openModal',
    }),
    deleteUser(index) {
      this.users.splice(index, 1);
    },
    addUpdateUser(user) {
      console.log(this.modifType);
      console.log('user:', user);
      if (this.modifType === 'add') {
        this.users.push(user);
      } else if (this.modifType === 'edit') {
        this.users[this.editIndex] = Object.assign(this.users[this.editIndex], user);
      }
    },
  },
};
</script>

<style scoped></style>
