<template>
  <b-modal v-model="modalShow" hide-footer :title="title" class="base-modal"><slot /></b-modal>
</template>

<script>
import { mapGetters, mapActions } from 'vuex';

export default {
  name: 'BaseModal',
  props: {
    title: {
      type: String,
      default: 'Base Modal',
    },
  },
  computed: {
    ...mapGetters({
      modalIsOpen: 'modalIsOpen',
    }),
    modalShow: {
      get() {
        return this.modalIsOpen;
      },
      set() {
        this.closeModal();
      },
    },
  },
  methods: {
    ...mapActions({
      closeModal: 'closeModal',
    }),
  },
};
</script>

<style lang="scss" scoped></style>
