<template>
  <b-container id="app">
    <h1>Explorance - Frontend development test with VueJS framework</h1>
    <user-app />
  </b-container>
</template>

<script>
import UserApp from './components/User/UserApp.vue';

export default {
  name: 'App',
  components: {
    UserApp,
  },
};
</script>

<style lang="scss">
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  min-width: 576px;
}
</style>
